[submodule ".vim/pack/mt/start/vim-airline"]
	path = .vim/pack/mt/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/mt/start/vim-airline-themes"]
	path = .vim/pack/mt/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/pack/mt/start/vim-colors-solarized"]
	path = .vim/pack/mt/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/mt/start/vim-fugitive"]
	path = .vim/pack/mt/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/mt/start/vim-surround"]
	path = .vim/pack/mt/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/mt/start/Nvim-R"]
	path = .vim/pack/mt/start/Nvim-R
	url = https://github.com/jalvesaq/Nvim-R.git
[submodule ".vim/pack/mt/start/ack"]
	path = .vim/pack/mt/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/pack/mt/start/the_silver_searcher"]
	path = .vim/pack/mt/start/the_silver_searcher
	url = https://github.com/ggreer/the_silver_searcher.git
[submodule ".vim/pack/mt/start/nerdtree"]
	path = .vim/pack/mt/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/mt/start/nerdtree-git-plugin"]
	path = .vim/pack/mt/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/pack/mt/start/vim-dispatch"]
	path = .vim/pack/mt/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/pack/mt/start/vim-online-thesaurus"]
	path = .vim/pack/mt/start/vim-online-thesaurus
	url = https://github.com/beloglazov/vim-online-thesaurus.git
[submodule ".vim/pack/mt/start/ale"]
	path = .vim/pack/mt/start/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/pack/mt/start/completor"]
	path = .vim/pack/mt/start/completor
	url = https://github.com/maralla/completor.vim.git
[submodule ".vim/pack/mt/start/vim-gitgutter"]
	path = .vim/pack/mt/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/mt/start/csv"]
	path = .vim/pack/mt/start/csv
	url = https://github.com/chrisbra/csv.vim.git
[submodule ".vim/pack/mt/start/goyo"]
	path = .vim/pack/mt/start/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule ".vim/pack/mt/start/ultisnips"]
	path = .vim/pack/mt/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/pack/mt/start/vim-snippets"]
	path = .vim/pack/mt/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/pack/mt/start/vim-commentary"]
	path = .vim/pack/mt/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/mt/start/vim-easy-align"]
	path = .vim/pack/mt/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule ".vim/pack/mt/start/vim-expand-region"]
	path = .vim/pack/mt/start/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule ".vim/pack/mt/start/vim-markdown"]
	path = .vim/pack/mt/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/pack/mt/start/vim-pandoc"]
	path = .vim/pack/mt/start/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule ".vim/pack/mt/start/vim-pandoc-syntax"]
	path = .vim/pack/mt/start/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule ".vim/pack/mt/start/vim-rmarkdown"]
	path = .vim/pack/mt/start/vim-rmarkdown
	url = https://github.com/vim-pandoc/vim-rmarkdown.git
[submodule ".vim/pack/mt/start/vimtex"]
	path = .vim/pack/mt/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule ".vim/pack/mt/start/vim-devicons"]
	path = .vim/pack/mt/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule ".vim/pack/mt/start/ctrlp"]
	path = .vim/pack/mt/start/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "/Users/mickael/.dotfiles/.tmux/plugins/tpm"]
	path = /Users/mickael/.dotfiles/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "/Users/mickael/.dotfiles/.tmux/plugins/tmux-sensible"]
	path = /Users/mickael/.dotfiles/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "/Users/mickael/.dotfiles/.tmux/plugins/tmux-battery"]
	path = /Users/mickael/.dotfiles/.tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery.git
[submodule ".vim/pack/mt/start/vim-header"]
	path = .vim/pack/mt/start/vim-header
	url = https://github.com/alpertuna/vim-header.git
[submodule ".vim/pack/mt/start/vim-flake8"]
	path = .vim/pack/mt/start/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
